@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Khand', sans-serif;
  background-image: url("./images/background-mobile.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #eda4a4;
  color: #2e2b2f;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media screen and (min-width:768px) {
  body {
    background-image: url("./images/background.png");
    width:100vw;
    height: 100vw;
  }
}
